.chevron-indicator{
    height: 24px;
    width: 24px;
    float: right;
    opacity: 0.54;
    transform: rotate(180deg);
    transition: all 300ms;
  }
  
.chevron-indicator-open{
    transform: rotate(-90deg);
    transition: all 300ms;
}

.CriteriaChevronGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Criteria-delete-button{
    display: flex;
}
.criteriaIndComponentContainer:not(:last-child){
    margin-bottom: 4px;
    box-shadow: none !important;
}
.criteriaIndComponentContainer{
    border-width: 1px;
    border-color: #e1e1e1;
    border-style: solid;
}