.PeerConfigForm{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-gap: 3rem;
    padding-top: 10%;
}
.AddForm{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 3rem;
    padding-top: 1%;
}
.cardHeaderButtonGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.containerLookUp{
    position:fixed;
    bottom:0;
    margin-left: 45%;
    margin-bottom: 2%;

}